.container {
  width: 100%;
  background: rgb(50, 50, 50);
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px 1px #3e3e3e;

  & > a {
    text-decoration: none;
    margin: 0 1em;
    margin-top: 3px;
    border-bottom: 3px solid rgb(50, 50, 50);
    transition: border-bottom-color 0.3s ease 0s;

    &:hover {
      border-bottom: 3px solid #0066ee;
    }
  }
}
