.container {
  display: flex;
  margin-top: 1em;
  max-width: calc(100% - 200px);
}

.img {
  flex-basis: 225px;
  position: relative;
  width: 225px;
  height: 180px;
  overflow: hidden;

  & > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.description {
  flex-basis: calc(100% - 225px - 1em);
  margin-left: 1em;
  text-align: initial;

  & > p {
    font-size: 0.7em;
  }
}
